<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/items.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>

</head>
<body>
<div th:insert="~{header::header}"></div>
<a th:href="@{additem}" class="btn btn-primary add_item">
    Add Item
</a>
<a th:href="@{init}" class="btn btn-dark back">
    Home
</a>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>
            Item Name
        </th>
        <th>
            Item Price
        </th>
        <th>
            In Stock
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a:${items}">
        <td th:inline="text">[[${a.name}]]</td>
        <td th:inline="text">[[${a.price}]]</td>
        <td th:inline="text">[[${a.stock}]]</td>
        <td>
            <a th:href="@{itemupd(name=${a.name})}" class="btn btn-info">Update Item</a>
            <a th:href="@{itemdel(name=${a.name})}" class="btn btn-danger">Delete Item</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>